body { background-image:url(https://yt3.ggpht.com/-YJFqzHmkazo/AAAAAAAAAAI/AAAAAAAAAAA/dg-IsL3YDYQ/s240-c-k-no/photo.jpg);
 font-family: "Open Sans", sans-serif;
}

h1, h2, h3, p
{ 
  color: green;
  text-align: center;
}


 p, 
{
  height: 300px 

} 

